/*=============== BASE ===============*/
* {
    margin: 0;
    padding: 0;
}

/*=============== HEADER & NAV ===============*/
.header {
    padding: 38px 0 59px 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.logo-text {
    font-family: "DM Serif Display", sans-serif;
    color: #292F36;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 125%; /* 50px */
    display: inline-block;
    vertical-align: center;
    margin-right: 360px;
}

.menu {
    display: inline-block;
}

.menu-item  {
    list-style: none;
    display: inline-block; /* расположение меню по горизонтали */
    margin-right: 49px;
}

.menu-item a {
    font-family: Jost, sans-serif;
    color: #292F36;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 125%; /* 25px */
    text-decoration: none;
}

/*=============== MAIN ===============*/
.main {
    background-image: url("../img/main_bg.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 203px 0 447px 0;
}

.main-title {
    font-family: "DM Serif Display", sans-serif;
    color: #292F36;
    font-size: 80px;
    font-style: normal;
    font-weight: 400;
    line-height: 125%; /* 100px */
    max-width: 593px;
}

.main-text {
    font-family: Jost, sans-serif;
    color: #4D5053;
    font-size: 21px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 31.5px */
    max-width: 490px;
    margin-top: 20px;
}

.main-button {
    font-family: Jost, sans-serif;
    width: 219px;
    padding: 26px 48px;
    gap: 10px;
    border-radius: 18px;
    background: #406636;
    color: #FFF;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 125%; /* 22.5px */
    border: none;
    cursor: pointer;
    margin-top: 40px;
}

/*=============== PARTNERS ===============*/
.partners {
    padding: 90px 0 90px 0;
    text-align: center;
}

.partners-img {
    fill: #292F36;
    margin-right: 60px;
}

/*=============== CONTACT ===============*/
.contact .container {
    width: 1200px;
    padding: 80px 37px 80px 37px;
    margin: 0 auto; /* выравнивание блока по центру */
    border-radius: 70px;
    background: #406636;
    text-align: center;
}

.contact-title {
    color: #FFF;
    font-family: "DM Serif Display", sans-serif;
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: 125%; /* 62.5px */
}

.contact-text {
    color: #FFF;
    font-family: Jost, sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 33px */
    margin-top: 11px;
}

.contact-button {
    color: #FFF;
    text-align: center;
    font-family: Jost, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 125%; /* 22.5px */
    margin-top: 32px;
    border-radius: 18px;
    border: 1px solid #FFF;
    background: rgba(255, 255, 255, 0.05);
    padding: 26px 37px;
    cursor: pointer;
}
/*=============== FOOTER ===============*/
.footer {
    margin-top: 150px;
    padding: 40px 0 40px 0;
    text-align: center;
}

.copyright {
    margin-right: 810px;
    color: #4D5053;
    font-family: Jost, sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 33px */
}

.terms {
    color: #4D5053;
    font-family: Jost, sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 33px */
}


